body {
  margin: 0;
}

.MyNavbar {
  background-color: #101010;
  width: 100%;
  float: left;
  line-height: 50px;
  margin: 0;
}

.MyNavbarLink {
  color: #ffffff;
  font-family: "century gothic";
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
}

.MyNavbarLink:hover {
  color: #8a8a8a;
}
